<!-- App body starts -->
<div class="app-body">
  <!-- Row starts -->
  <div class="row gx-4">
    <div class="col-sm-12">
      <div class="card">
        <!--<div class="card-header">-->
        <h5 class="card-header border-bottom">Member Details</h5>
        <!--</div>-->
        <div class="card-body">
          <!-- Row starts -->
          <div class="row gx-4">
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a1"
                  >Member No. <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="memberNumber"
                  name="memberNumber"
                  [(ngModel)]="memberDetails.memberNumber"
                  placeholder="Enter Member No."
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a1"
                  >Full Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="fullName"
                  name="fullName"
                  [(ngModel)]="memberDetails.fullName"
                  placeholder="Enter Full Name"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a2">Email <span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  id="emailAddress"
                  name="emailAddress"
                  [(ngModel)]="memberDetails.emailAddress"
                  placeholder="Enter Email"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a3"
                  >Mobile Number<span class="text-danger">*</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  id="mobileNumber"
                  name="mobileNumber"
                  [(ngModel)]="memberDetails.mobileNumber"
                  placeholder="Enter Mobile Number"
                />
              </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a4"
                  >Date of Birth <span class="text-danger">*</span></label
                >
                <input
                  type="date"
                  class="form-control"
                  id="dateOfBirth"
                  name="dateOfBirth"
                  [(ngModel)]="memberDetails.dateOfBirth"
                  placeholder="Enter DOB"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a6">Occupation</label>
                <select
                  class="form-select"
                  id="occupation"
                  name="occupation"
                  [(ngModel)]="memberDetails.occupation"
                >
                  <ng-container *ngFor="let singleOccupation of occupationList">
                    <option [value]="singleOccupation.key">{{ singleOccupation.key }}</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a5">Join Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="joinDate"
                  name="joinDate"
                  [(ngModel)]="memberDetails.joinDate"
                  placeholder="Enter Join Date"
                />
              </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="selectGender1"
                  >Gender <span class="text-danger">*</span></label
                >
                <div class="m-0">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="selectGenderOptions"
                      id="gender"
                      name="gender"
                      [(ngModel)]="memberDetails.gender"
                      value="Male"
                    />
                    <label class="form-check-label" for="selectGender1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="selectGenderOptions"
                      id="selectGender2"
                      value="Female"
                    />
                    <label class="form-check-label" for="selectGender2">Female</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a5">Age</label>
                <input
                  type="remarks"
                  class="form-control"
                  id="age"
                  name="age"
                  [(ngModel)]="memberDetails.age"
                  placeholder="Enter Age"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a5">Marital Status</label>
                <select
                  class="form-select"
                  id="maritalStatus"
                  name="maritalStatus"
                  [(ngModel)]="memberDetails.maritalStatus"
                >
                  <ng-container *ngFor="let singleMaritalStatus of maritalStatusList">
                    <option [value]="singleMaritalStatus.key">{{ singleMaritalStatus.key }}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a5">Address</label>
                <input
                  type="remarks"
                  class="form-control"
                  id="address"
                  name="address"
                  [(ngModel)]="memberDetails.address"
                  placeholder="Enter Address"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a5">Shift Type</label>
                <select
                  class="form-select"
                  id="shiftType"
                  name="shiftType"
                  [(ngModel)]="memberDetails.shiftType"
                >
                  <ng-container *ngFor="let singleShift of shiftList">
                    <option [value]="singleShift.key">{{ singleShift.key }}</option>
                  </ng-container>
                </select>
              </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a5">Join Weight</label>
                <input
                  type="remarks"
                  class="form-control"
                  id="joinWeight"
                  name="joinWeight"
                  [(ngModel)]="memberDetails.joinWeight"
                  placeholder="Enter Join Weight"
                />
              </div>
            </div>

            <!-- Row ends -->
          </div>
        </div>
        <div class="card-footer border-top">
          <div class="col-sm-12">
            <div class="d-flex gap-2 justify-content-end">
              <button type="button" class="btn btn-outline-secondary">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="savememberDetails()">
                Save / Print
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <h5 class="card-header border-bottom">Package Details</h5>
        <div class="card-body">
          <div class="row gx-4">
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a6">Package Name</label>
                <select
                  class="form-select"
                  id="packageName"
                  name="packageName"
                  [(ngModel)]="memberDetails.packageName"
                  (ngModelChange)="updatePackageDetails()"
                >
                  @for (
                    singlePackage of sharedService.masterPackageDetailsList();
                    track singlePackage._id
                  ) {
                    <option [value]="singlePackage._id" [id]="singlePackage._id">
                      {{ singlePackage.packageName }}
                    </option>
                  } @empty {
                    <option value="0">No packages Available</option>
                  }
                </select>
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a1">
                  Period <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="period"
                  name="period"
                  [(ngModel)]="memberDetails.period"
                  placeholder="Enter Period"
                />
              </div>
            </div>

            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a1"
                  >Start Date<span class="text-danger">*</span></label
                >
                <input
                  type="date"
                  class="form-control"
                  id="startDate"
                  name="startDate"
                  [(ngModel)]="memberDetails.startDate"
                  placeholder="Enter Start Date"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a1"
                  >End Date<span class="text-danger">*</span></label
                >
                <input
                  type="date"
                  class="form-control"
                  id="endDate"
                  name="endDate"
                  [(ngModel)]="memberDetails.packageDetails.endDate"
                  placeholder="Enter End Date"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a1">Amount<span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  id="amount"
                  name="amount"
                  [(ngModel)]="memberDetails.amount"
                  placeholder="Enter Amount"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a5">Remarks</label>
                <input
                  type="remarks"
                  class="form-control"
                  id="remarks"
                  name="remarks"
                  [(ngModel)]="memberDetails.remarks"
                  placeholder="Enter Remarks"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer border-top">
          <div class="col-sm-12">
            <div class="d-flex gap-2 justify-content-end">
              <button type="button" class="btn btn-outline-secondary">Cancel</button>
              <button type="button" class="btn btn-primary" (click)="addPackage()">
                Add Package
              </button>
            </div>
          </div>
        </div>

        <div class="row gx-4">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="card-title">Package List</h5>
              </div>
              <div class="card-body">
                <!-- Table starts -->
                <div class="table-responsive">
                  <table id="basicExample" class="table m-0 align-middle">
                    <thead>
                      <tr>
                        <!-- <th>#</th> -->
                        <th>Name</th>
                        <th>duration</th>
                        <th>fee</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (
                        singlePackage of sharedService.masterPackageDetailsList();
                        track singlePackage._id
                      ) {
                        <tr>
                          <!-- <td>001</td> -->
                          <td>
                            <!-- <img
                              src="assets/images/user.png"
                              class="img-shadow img-2x rounded-5 me-1"
                              alt="Fitness Dashboard"
                            /> -->
                            {{ singlePackage.packageName }}
                          </td>
                          <td>{{ singlePackage.duration }}</td>
                          <td>{{ singlePackage.fee }}</td>
                          <td>
                            <div class="d-inline-flex gap-1">
                              <button
                                class="btn btn-outline-danger btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#delRow"
                              >
                                <i class="ri-delete-bin-line"></i>
                              </button>
                              <a
                                href="edit-member.html"
                                class="btn btn-outline-success btn-sm"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-title="Edit Gym Member"
                              >
                                <i class="ri-edit-box-line"></i>
                              </a>
                            </div>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </div>
                <!-- Table ends -->

                <!-- Modal Delete Row -->
                <div
                  class="modal fade"
                  id="delRow"
                  tabindex="-1"
                  aria-labelledby="delRowLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="delRowLabel">Confirm</h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">Are you sure you want to delete the gym member?</div>
                      <div class="modal-footer">
                        <div class="d-flex justify-content-end gap-2">
                          <button
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          >
                            No
                          </button>
                          <button class="btn btn-danger">Yes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <h5 class="card-header border-bottom">PT Details</h5>
        <div class="card-body">
          <div class="row gx-4">
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a1">PT Name<span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  id="ptName"
                  name="ptName"
                  [(ngModel)]="memberDetails.ptDetails.ptName"
                  placeholder="Enter PT Name"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a1"
                  >PT Period<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  id="ptPeriod"
                  name="ptPeriod"
                  [(ngModel)]="memberDetails.ptDetails.ptPeriod"
                  placeholder="Enter PT Period"
                />
              </div>
            </div>
            <div class="col-xxl-3 col-lg-4 col-sm-6">
              <div class="mb-3">
                <label class="form-label" for="a1">Amount<span class="text-danger">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  id="amount"
                  name="amount"
                  [(ngModel)]="memberDetails.ptDetails.amount"
                  placeholder="Enter Amount"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer border-top">
          <div class="col-sm-12">
            <div class="d-flex gap-2 justify-content-end">
              <button type="button" class="btn btn-outline-secondary">Cancel</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Row ends -->
</div>
<!-- App body ends -->
